.calculator-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 26%;
    /* background-color: red; */
    border: 0px;
    border-radius: 5px;
}

button {
    width: 70%;
    height: 70%;
    margin: 0px 4px;
    border-radius: 10px;
    border: 0px solid black;
    font-weight: 100;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

button:hover {
    font-size: var(--numbersSizeBigger);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

#bDel {
    font-size: 40px;
}

#bDel:hover {
    font-size-adjust: initial;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}